<table id="commondrugmanager">
    <thead>
    <tr>
        <th data-options="field:'name',width:80,editor:{type:'textbox'}">Name</th>

    </tr>
    </thead>
</table>

<div id="commondrugpaneltb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton append" data-options="iconCls:'icon-add',plain:true" >新增</a>
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" >Remove</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton save" data-options="iconCls:'icon-save',plain:true" >保存</a>
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" >Reject</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" >GetChanges</a>-->
</div>